.search-panel {
  margin: 1rem 0;
}

.search-panel .search-input {
  width: 500px;
  flex-grow: 1;
  margin-right: 3px;
}

.search-panel .btn-group {
  width: auto;
  flex-grow: 1;
  margin-left: 3px;
}
